{% extends 'base.html'%}
{% block title %}The Wine Garden BnB | 400 Bad Request{% endblock %}

{% load static %}

{% block content %}

<!-- 400 ERROR MESSAGE (BAD REQUEST) -->
<div class="container card card-body">
    <div class="row justify-content-center">
        <div class="col-md-6 justify-content-center login">
            <h1>400 error</h1>
            <hr class="page-break">
            <h3 class="text-center mt-3">Bad Request</h3>
            <br>
            <p>We're sorry, The Wine Garde Bnb cannot handle this request.</p>
            <a href="{% url 'home' %}" class="submit btn btn-outline-dark d-inline">Home</a>
        </div>
    </div>
</div>

{% endblock %}