{% extends 'base.html'%}
{% block title %}The Wine Garden BnB | 403 Page Forbidden{% endblock %}

{% load static %}

{% block content %}

<!-- 403 ERROR MESSAGE (ACCESS DENIED TO FORBIDDEN CONTENT) -->
<div class="container card card-body">
    <div class="row justify-content-center">
        <div class="col-md-6 justify-content-center login">
            <h1>403 error</h1>
            <hr class="page-break">
            <h3 class="text-center mt-3">Page Forbidden</h3>
            <br>
            <p>You don't have access to this content. Please log out and sign in to the correct account.</p>
            <a href="{% url 'account_logout' %}" class="btn btn btn-outline-dark m-2 delete-submit">Log out</a>
            <a href="{% url 'home' %}" class="submit btn btn-outline-dark d-inline mt-3">Home</a>
        </div>
    </div>
</div>

{% endblock %}