{% extends "base.html" %}
{% block title %}The Wine Garden BnB | About{% endblock %}
{% block content %}

<p class="about-banner">About
    <!-- <img src="https://res.cloudinary.com/kesmith/image/upload/v1680354519/betterbanner_cjxmy2.png" class="img-fluid" alt="laptop and notebook"> -->
</p>

<!-- IMAGE AND ABOUT SECTION -->
<section class="container px-2 py-3 about-container">

    <div class="row">
        <!-- Profile 1 -->
        <div class="col-md-6 col-12 mb-4">
          <div class="card card-learn">
            <div class="card-body">
              <p>IMAGE OF VINEYARD / BNB</p>
            
              <br>
              
            </div>
          </div>
        </div>
        <br>
        <!-- Profile 2 -->
        <div class="col-md-6 col-12 mb-4">
          <!-- <div class="card card-learn"> -->
            <div class="card-body">
                <h3>Get to know us-TEMPLATE!</h3>
              <p class="card-title text-center">ABOUT INFO</p>
              <p>PARAGRAPH OF INFO</p>

              </br>
            </div>
          </div>
        </div>
        <br>
    </div>
    <hr class="page-break">
</section>

<!-- REVIEWS SECTION (add 4 reviews make col-lg-3 and go from there) -->
<!-- TEST REVIEW 1 -->

<section class="container px-2 py-3 about-reviews">
  <h4>
    <span>
    <i class="fas fa-star star-reviews"></i>
    <i class="fas fa-star star-reviews"></i>
    <i class="fas fa-star star-reviews"></i>
    <i class="fas fa-star star-reviews"></i>
    <i class="fas fa-star star-reviews"></i>
</span>
</br>
    What our customers say (stars above)</h4>
    <div class="row">
    <div class="col-lg-3 col-md-6 col-12 mb-4">
        <div class="card card-learn">
          <div class="card-body">
            <p class="card-title text-center">HAVE TO BE AUTHORIZED TO LEAVE A REVIEW?</p>
            
            <br>
           
          </div>
        </div>
      </div>
      <br>
      <!-- TEST REVIEW 2 -->

      <div class="col-lg-3 col-md-6 col-12 mb-4">
        <div class="card card-learn">
          <div class="card-body">
            <p class="card-title text-center">REVIEW 2</p>
            <br>
            
          </div>
        </div>
      </div>
      <br>
<!-- TEST REVIEW 3 -->
      <div class="col-lg-3 col-md-6 col-12 mb-4">
        <div class="card card-learn">
          <div class="card-body">
            <p class="card-title text-center">REVIEW 3</p>
            <br>
           
          </div>
        </div>
      </div>
      <br>

    <!-- TEST REVIEW 4 -->
    <div class="col-lg-3 col-md-6 col-12 mb-4">
        <div class="card card-learn">
          <div class="card-body">
            <p class="card-title text-center">HAVE TO BE AUTHORIZED TO LEAVE A REVIEW?</p>
            
            <br>
           
          </div>
        </div>
      </div>
    </div>
</section>

{% endblock %}