{% extends "base.html" %}
{% block title %}The Wine Garden BnB | About{% endblock %}
{% block content %}

<div class="container">
  <img src="https://res.cloudinary.com/kesmith/image/upload/v1680607238/about-banner_yv6s9x.png" class="img-fluid"
    alt="laptop and notebook">
</div>


<!-- IMAGE AND ABOUT SECTION -->
<section class="container px-2 py-3">

  <div class="row">
    <div class="col-lg-6 col-12 mb-4 card card-body">
        <div class="card h-100">
          <img src="https://res.cloudinary.com/kesmith/image/upload/v1680630295/about-image1_g68cxj.png" class="card h-100">
        </div>
    </div>
    <br>
    <div class="col-lg-6 col-12 mb-4 card card-body">
      <div>
        <h3>Get to know us</h3>
      </br>
        <!-- <p class="card-title text-center">ABOUT INFO</p> -->
        <p class="about-card">Welcome to The Wine Garden BnB, located in the heart of the Midwest. Situated on 80 acres of farmland, the
          house features three spacious bedrooms that provide a more intimate experience. There is a grill and outdoor
          patio, great for dining in the open air. If your desire is to escape city life and enjoy the countryside, we
          have several trails winding through our 30 acre hardwood forest that lead to our pond and vineyard. There you
          can enjoy a swim or picnic in the gazebo next to the grape vines.</p>

        </br>
      </div>
    </div>
  </div>
  <!-- <br> -->
  </div>
  <hr class="container page-break">
</section>

<!-- REVIEWS SECTION (add 4 reviews make col-lg-3 and go from there) -->
<!-- TEST REVIEW 1 -->

<section class="container px-2 py-3 about-reviews">
  <h4>
    <span>
      <i class="fas fa-star star-reviews"></i>
      <i class="fas fa-star star-reviews"></i>
      <i class="fas fa-star star-reviews"></i>
      <i class="fas fa-star star-reviews"></i>
      <i class="fas fa-star star-reviews"></i>
    </span>
    <div class="customers">
      What our customers say
    </div>
  </h4>
</br>
  <div class="row">
    <div class="col-lg-3 col-md-6 col-12 mb-4">
      <div class="card card-learn">
        <div class="card-body">
          <p class="card-title text-center">HAVE TO BE AUTHORIZED TO LEAVE A REVIEW?</p>

          <br>

        </div>
      </div>
    </div>
    <br>
    <!-- TEST REVIEW 2 -->

    <div class="col-lg-3 col-md-6 col-12 mb-4">
      <div class="card card-learn">
        <div class="card-body">
          <p class="card-title text-center">REVIEW 2</p>
          <br>

        </div>
      </div>
    </div>
    <br>
    <!-- TEST REVIEW 3 -->
    <div class="col-lg-3 col-md-6 col-12 mb-4">
      <div class="card card-learn">
        <div class="card-body">
          <p class="card-title text-center">REVIEW 3</p>
          <br>

        </div>
      </div>
    </div>
    <br>

    <!-- TEST REVIEW 4 -->
    <div class="col-lg-3 col-md-6 col-12 mb-4">
      <div class="card card-learn">
        <div class="card-body">
          <p class="card-title text-center">HAVE TO BE AUTHORIZED TO LEAVE A REVIEW?</p>

          <br>

        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}