{% extends "base.html" %}
{% block title %}The Wine Garden BnB | My Bookings{% endblock %}
{% block content %}

<!-- BOOKING BANNER -->
<div class="container">
    <img src="https://res.cloudinary.com/kesmith/image/upload/c_scale,h_350,w_1600/v1681905142/Screen_Shot_2023-04-19_at_13.52.23_spkd3z.png" class="img-fluid"
      alt="Booking Banner">
  </div>

  <!-- IMAGES OF ROOMS AND BOOKING INFO -->
  <div class="container">
<!-- <section class="container px-2"> -->

    <div class="row flex-md-row-reverse py-3 m-0">
      <div class="col-lg-5 col-12 p-2 pl-md-6 h-100">
          <div class="card-body" id="booking">
            <img src="https://res.cloudinary.com/kesmith/image/upload/v1681907214/Bedroom_1_pia4t3.png" class="img-fluid card h-100" alt="Bedroom 1">
          </div>
        </br>
          <div class="card-body" id="booking">
            <img src="https://res.cloudinary.com/kesmith/image/upload/v1681907214/Bedroom_2_grsvqo.png" class="img-fluid card h-100" alt="Bedroom 2">
          </div>
          <!-- <div class="card-body" id="booking">
            <img src="https://res.cloudinary.com/kesmith/image/upload/v1681907214/Bedroom_1_pia4t3.png" class="img-fluid card h-100" alt="Living Room">
          </div> -->
      </div>
      <!-- <br> -->
      <div class="col-lg-7 col-12 card-body">
        <!-- <div class="row flex-md-row-reverse py-3 m-0"> -->
        <div class="h-100">
          <h3>BOOKING INFO HERE</h3>
        </br>
        </div>
      </div>
    </div>
    </div>
  <!-- </section> -->

  <!-- LIVING ROOM AND POND AREA -->
  <section class="container">
    <div class="row flex-md-row mb-4">
      <div class="col-lg-5 col-12 h-100">

          <div class="card-body" id="booking">
            <img src="https://res.cloudinary.com/kesmith/image/upload/v1681907230/Living_Room_hl6mqa.png" class="img-fluid card h-100" alt="Living Roome">
          </div>
          <!-- <div class="card-body" id="booking">
            <img src="https://res.cloudinary.com/kesmith/image/upload/v1681907214/Bedroom_1_pia4t3.png" class="img-fluid card h-100" alt="Living Room">
          </div> -->
      </div>
      <!-- <br> -->
      <div class="col-lg-7 col-12 card-body" id="booking">
          <div class="h-100">
            <img src="https://res.cloudinary.com/kesmith/image/upload/v1681909935/gazebo_pond_oszwxp.png" class="img-fluid card h-100" alt="Gazebo & pond">
          </div>
      </div>
    </div>
    </div>
  </section>
</div>

{% endblock %}