{% extends "base.html" %}
{% block title %}The Wine Garden BnB | My Bookings{% endblock %}
{% block content %}

<!-- BOOKING BANNER -->
<div class="container">
    <img src="https://res.cloudinary.com/kesmith/image/upload/v1680607238/about-banner_yv6s9x.png" class="img-fluid"
      alt="#">
  </div>

  <!-- IMAGE OF BNB AND BOOKING INFO -->
<section class="container px-2 py-3">
    <div class="row flex-md-row py-3 m-0">
      <div class="col-lg-6 col-12 mb-4">
          <div class="card h-100">
            <img src="https://res.cloudinary.com/kesmith/image/upload/v1680630295/about-image1_g68cxj.png" class="img-fluid card h-100">
          </div>
      </div>
      <br>
      <div class="col-lg-6 col-12 mb-4 card-body">
        <div>
          <h3>BOOKING INFO HERE</h3>
        </br>
        </div>
      </div>
    </div>
    </div>
  </section>

{% endblock %}