{% extends "base.html" %}
{% block title %}The Wine Garden BnB | Book Now{% endblock %}

{% block content %}

{% if not user.is_authenticated %}
<section>
    <div>
        <div class="row">
            <div class="col-md-3 mt-5 offset-md-3">
                <h3>Login Required - DO CSS ON THIS PAGE</h3>
                <p>Please <a href="{% url 'account_login' %}">log in</a> or <a href="{% url 'account_signup' %}">sign up</a> to continue the booking process.</p>
            </div>
        </div>
    </div>
</section>
{% else %}
{% if user.is_authenticated %}
<section>
    <div>
        <div class="row">
            <div class="col-md-3 mt-5 offset-md-3">
                <h4">Bookings: - <strong>DO CSS ON THIS PAGE import widget tweaks for form fields</strong></h4>
                <form method="POST" action="{% url 'bookings' %}">

                    {% csrf_token %}
                    {{form.as_p}}
                    <input class="btn submit" type="submit" value="Book Now">
                </form>
            </div>
        </div>
    </div>
</section>

{% endif %}
<!-- {% endif %} -->

{%endblock%}