{% extends "base.html" %}
{% block title %}The Wine Garden BnB | Breakfast{% endblock %}
{% block content %}

<div class="container">
    <img src="https://res.cloudinary.com/kesmith/image/upload/v1681247544/Screen_Shot_2023-04-11_at_23.12.17_zk9cde.png" class="img-fluid" alt="breakfast">
</div>


<section class="container px-2 py-3">
    <div class="card-body">
        <h4>Choose from an array of options for your made to order breakfast.</h4> 
    <div class="row card-row m-1">

        <!-- EGGS & MEATS -->
        <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
            <div class="card card-menu d-flex justify-content-center">
                <div class="ingredient-card d-flex justify-content-center align-items-center">
                    <div class="card-face card-body-front">
                        <!-- <img src="#"> -->
                        <h3 class="card-title">EGGS & MEATS</h3>
                    </div>
                    <div class="card-face card-body-back">
                        <div class="card-content">
                            {% for meat in meat_list %}
                            <h5>{{ meat.name }}</h5>
                            <p> {{ meat.description }} </p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

     <!-- SAVORY BREADS -->
        <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
            <div class="card card-menu d-flex justify-content-center">
                <div class="ingredient-card d-flex justify-content-center align-items-center">
                    <div class="card-face card-body-front">
                        <h3 class="card-title">SAVORY BREADS</h3>
                    </div>
                    <div class="card-face card-body-back">
                        <div class="card-content">
                            {% for bread in bread_list %}
                            <h5>{{ bread.name }}</h5>
                            <p> {{ bread.description }} </p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            </div>

            <!-- PASTRIES -->
            <div class="col-lg-4 col-md-12 col-sm-12 mb-2">
            <div class="card card-menu d-flex justify-content-center">
                <div class="ingredient-card d-flex justify-content-center align-items-center">
                    <div class="card-face card-body-front">
                        <h3 class="card-title">PASTRIES</h3>
                    </div>
                    <div class="card-face card-body-back">
                        <div class="card-content">
                            {% for pastry in pastry_list%}
                            <h5>{{ pastry.name}}</h5>
                            <p> {{ pastry.description}} </p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row card-row m-1">
     <!-- FRUIT -->
        <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
            <div class="card card-menu d-flex justify-content-center">
                <div class="ingredient-card d-flex justify-content-center align-items-center">
                    <div class="card-face card-body-front">
                        <h3 class="card-title">FRESH FRUIT</h3>
                    </div>
                    <div class="card-face card-body-back">
                        <div class="card-content">
                            {% for fruit in fruit_list%}
                            <h5>{{ fruit.name}}</h5>
                            <p> {{ fruit.description}} </p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <!-- VEGAN OPTIONS -->
        <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
            <div class="card card-menu d-flex justify-content-center">
                <div class="ingredient-card d-flex justify-content-center align-items-center">
                    <div class="card-face card-body-front">
                        <h3 class="card-title">VEGAN OPTIONS</h3>
                    </div>
                    <div class="card-face card-body-back">
                        <div class="card-content">
                            {% for vegan in vegan_list%}
                            <h5>{{ vegan.name}}</h5>
                            <p> {{ vegan.description}} </p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
       <!-- DRINKS -->
        <div class="col-lg-4 col-md-12 col-sm-12 mb-2">
            <div class="card card-menu d-flex justify-content-center">
                <div class="ingredient-card d-flex justify-content-center align-items-center">
                    <div class="card-face card-body-front">
                        <h3 class="card-title">DRINKS</h3>
                    </div>
                    <div class="card-face card-body-back">
                        <div class="card-content">
                            {% for drink in drinks_list%}
                            <h5>{{ drink.name}}</h5>
                            <p> {{ drink.description}} </p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 mt-2">
        <h6>*Please let us know if you have any dietary restrictions.</h6>
    </div>
    </div>
</section>
{% endblock %}