{% extends "base.html" %}
{% block title %}The Wine Garden BnB | Contact Us{% endblock %}
{% block content %}

{% load crispy_forms_tags %}
<div class="container">
    <img src="https://res.cloudinary.com/kesmith/image/upload/v1680607170/contact-banner_slgice.png" class="img-fluid"
        alt="laptop and notebook">
</div>

<section>
    <div class="container px-2 py-3">
        <div class="row flex-md-row-reverse py-3 m-0">
            <div class="col-md-6 col-lg-6 p-2 pl-md-6">
                <div class="col-12">
                    <h3>Find Us</h3>
                    <iframe class="map"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d56012.0829399791!2d-93.58750495172971!3d41.42249740460591!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87eebb014ed74d6b%3A0x9f56451103bc4e3f!2sSummerset%2C%20IA%2050125%2C%20USA!5e0!3m2!1sen!2sde!4v1680948289157!5m2!1sen!2sde"
                        title="Map of winery location" width="100%" height="550" style="border:0;" allowfullscreen=""
                        loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>


            <!-- CONTACT FORM START -->
            <div class="col-md-6 col-lg-6 p-2 pl-md-6 align-self-center">
                <h3>Send a message</h3>
            <form onsubmit="return sendMail(this);" class="card-body">               
                <div class="row">
                    <div class="col-6">
                <input type="text" name="firstname" id="firstname" class="form-control" required />
                    </div>
                    <div class="col-6">
                        <input type="text" name="lastname" id="lastname" class="form-control" required />
                            </div>                
             <div class="col-12">  
                <input type="email" name="email" id="emailaddress" class="form-control"
                    required />
             </div>              
             <div class="col-12"> 
                <textarea rows="5" name="message" id="message" class="form-control"
                    required></textarea>
             </div>
             
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary contact-submit col-12" onclick="popup()">Submit</button>
                    </div>
<!-- SUCCESS / EMPTY FIELDS POP UP -->
                    <div class="message">
                        <div class="success" id="success">Your message has been sent.</div>
                        <div class="danger" id="danger">Fields can't be empty.</div>
                    </div>
            </form>
            </div>
            <!-- CONTACT FORM END -->

            <!-- CRISPY FORMS -->
            <!-- <div class="col-md-6 col-lg-6 p-2 pl-md-6 align-self-center contact-form">
                <h3>Send a message</h3>
                <form onsubmit="return sendMail(this);" novalidate class="card-body">
                    {% csrf_token %}

                    <div class="row">
                        <div class="col-6">
                            {{ form.first_name|as_crispy_field }}
                        </div>
                        <div class="col-6">
                            {{ form.last_name|as_crispy_field }}
                        </div>
                    </div>
                    {{ form.email|as_crispy_field }}
                    {{ form.message|as_crispy_field }}

                    <button type="submit" class="btn btn-primary contact-submit">Submit</button>
                </form>
            </div> -->
            <!-- CRISPY FORM END -->
        </div>
    </div>
    </div>
</section>
{% endblock %}