{% extends "base.html" %}
{% block title %}The Wine Garden BnB | My Bookings{% endblock %}


{% block content %}

<!-- BOOKING BANNER -->
<div class="container">
    <img src="https://res.cloudinary.com/kesmith/image/upload/c_scale,h_350,w_1600/v1681905142/Screen_Shot_2023-04-19_at_13.52.23_spkd3z.png"
        class="img-fluid" alt="Booking Banner">
</div>

<!-- DJANGO BOOKING INFORMATION -->
<!-- <section class="container px-2 py-3">
    <div>
        <div class="row card-row m-1">
            <div>
                <div>
                    <h2>My Bookings:</h2>
                    </br>
                </div>
                <div>
                    <div class="test mb-3">
                        {% for booking in bookings %}
                        <div>
                            <div class="card card-body">
                                <div>
                                    <p>Room: {{booking.room}}</p>
                                    <p>Check in: {{booking.check_in}}</p>
                                    <p>Check out: {{booking.check_out}}</p>
                                </div>
                                <span>
                                    <a href="{% url 'edit_bookings' booking.id %}"
                                        class="btn btn-success submit mt-3">Edit</a>
                                    <a href="{% url 'delete_booking' booking.id %}"
                                        class="btn btn-success delete-submit">Delete</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>
    </div>
</section> -->

<!-- TEST CSS LAYOUT - ADAPT THIS-->
<section class="container mt-3 mb-3">
    <div id="booking">
        <h2 class="my-bookings-title">My Bookings </h2>
    </br>
        <!-- <p>To edit or cancel a booking please click on the buttons below.</p> -->
        <div class="row my-bookings">
            {% for booking in bookings %}
            <div class="col-md-5">
                <div class="card mb-5">
                    <div class="card-body">
                        <h5 class='card-title text-uppercase text-center'>Booking Name: {{ booking.user }}</h5>
                        <!-- <h6 class="card-subtitle mb-2 text-muted">put something here?: {{ booking.room }} at</h6> -->
                        <div class='card-text'>
                            <p>Room: {{booking.room}}</p>
                            <p>Check in: {{ booking.check_in }}</p>
                            <p>Check out: {{booking.check_out}}</p>
                        </div>
                        <!-- <a href="/edit_bookings/{{booking.id}}" class="btn btn-success">Edit</a>
                        <a href="/delete_booking/{{booking.id}}" class="btn btn-success">Cancel</a> -->
                        <div id="my-bookings-buttons">
                            <span>
                            <a href="{% url 'edit_bookings' booking.id %}" class="btn btn-success submit mt-3">Edit</a>
                            <a href="{% url 'delete_booking' booking.id %}"
                                class="btn btn-success delete-submit">Delete</a>
                        </span>
                        </div>
                    </div>

                </div>
            </div>
            {%endfor%}
        </div>
    </div>
</section>

{%endblock%}