{% extends "base.html" %}
{% load static %}
{% block title %}The Wine Garden BnB | Edit Menu Item{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

        <!-- EDIT MENU ITEM -->
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-8 card-body">
                    <h3>Add A Menu Item</h3>
                <form method="POST" action="{% url 'edit_menu_item' %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    <!-- HOW TO GET THESE FIELDS ALREADY SHOWING THE INFO FROM THE DB? -->
                    {% for field in form %}
                        {% if field.name != 'image' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                    <div class="text-center">
                        <a class="btn font-weight-bold contact-submit" href="{% url 'breakfast' %}">Cancel</a>
                        <button class="btn btn-info font-weight-bold submit mt-3" type="submit">Update Item</button>
                    </div>
                </form>
            </div>            
        </div>
        </div>

{% endblock %}