{% extends "base.html" %}
{% load static %}

{% block title %}The Wine Garden BnB | Delete Menu Item{% endblock %}

{% block content %}

<!-- DELETE MENU ITEM -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-8 card-body">
            <h3>Delete A Menu Item</h3>
            <br>
            <p class="delete-sure">
                Are you sure you want to delete '<strong class="delete-item-name">{{ item.name }}</strong>'?
            </p>
            <form action="{% url 'delete_item' item.id %}" method="POST">
                {% csrf_token %}
                <div class="text-center mt-3">
                <a class="btn contact-submit" href="{% url 'breakfast' %}">Cancel</a>
                <button class="btn submit mt-3">Delete Item</button>
            </div>
            </form>

        </div>
    </div>
    <br>
</div>

{% endblock %}
